@import "./mixin.scss";
@import "./btn.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
}

label {
    font-weight: 700;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0 !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    text-decoration: none;

    color: inherit;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

code {
    display: block;
    padding: 15px 10px;
    margin-bottom: 20px;

    line-height: 36px;

    background: #eef1f6;
    a {
        cursor: pointer;

        color: #337ab7;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

//main-container全局样式
.app-container {
    padding: 20px;
}

.components-container {
    position: relative;

    margin: 30px 50px;
}

.pagination-container {
    margin-top: 30px;
}

.editor-container .CodeMirror {
    height: 100%!important;
}

.text-center {
    text-align: center;
}

.svg-icon {
    width: 1em;
    height: 1em;
    overflow: hidden;

    vertical-align: -.15em;

    fill: currentColor;
}

.sub-navbar {
    position: relative;

    width: 100%;
    height: 50px;
    padding-right: 20px;

    line-height: 50px;

    transition: 600ms ease position;
    text-align: right;

    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: 15px;

        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    cursor: pointer;

    color: #337ab7;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

.publishedTag,
.draftTag,
.deletedTag {
    position: absolute;
    top: 10px;
    left: 20px;

    padding: 8px 12px;
    margin: 0;

    font-size: 14px;
    line-height: 1;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background-color: $panGreen;
}

.draftTag {
    background-color: $yellow;
}

.deletedTag {
    background-color: $red;
}

.input-label {
    padding: 11px 5px 11px 0;

    font-size: 14px;
    line-height: 1;

    color: #48576a;
}

.clearfix {
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;

        font-size: 0;

        content: " ";
    }
}

.no-marginLeft {
    .el-checkbox {
        margin: 0 20px 15px 0;
    }
    .el-checkbox + .el-checkbox {
        margin-left: 0;
    }
}

.filter-container {
    padding-bottom: 10px;
    .filter-item {
        display: inline-block;
        margin-bottom: 10px;

        vertical-align: middle;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

//refine simplemde
.simplemde-container {
    .editor-toolbar.fullscreen,
    .CodeMirror-fullscreen {
        z-index: 1003;
    }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
    position: relative;
    left: 0;

    margin: 0 auto;

    transform: none;
}

//github-corner
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
